# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Mount bazel cache
      uses: actions/cache@v1
      with:
        path: "/home/runner/.cache/bazel"
        key: bazel

    # Runs a single command using the runners shell
    - name: Setup bazel
      run: |
        mkdir bin
        cd bin
        wget https://github.com/bazelbuild/bazelisk/releases/download/v1.6.1/bazelisk-linux-amd64
        chmod +x bazelisk-linux-amd64
        mv bazelisk-linux-amd64 bazel
        export PATH="$(readlink -e .):$PATH"

    # Runs a set of commands using the runners shell
    - name: Run tests
      run: |
        cd $GITHUB_WORKSPACE
        ./tests/run.sh
